.chat-side
  .side-header
    .side-header__username
      %p.side-header__username
        maiko
      %ul.side-header__menu
        %li.side-header__edit-user
          =link_to "#" do
            =icon('fa', 'edit',class: 'icon')
        %li.side-header__box__new-group
          =link_to "#" do
            =icon('fa', 'cog',class: 'icon')
  .side-bottom
    = link_to "#", class: "group" do
      %p.group__neme
        text
      %p.group__message
        まだメッセージはありません。
